@model IEnumerable<ProjetoModeloDDD.View.ViewModels.CommodityViewModel>

@{
    ViewData["Title"] = "CommoditiesComPerformance";
}

<h2>Commodities com Performance</h2>

<div class="form-group">
    <div class="col-md-10">
                              
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
</div>
    <br />
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CommodityID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoMaoObraID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisciplinaID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommodityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMaoObraID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisciplinaID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
