@model IEnumerable<ProjetoModeloDDD.View.ViewModels.CommodityViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Commodity</h2>

<div class="row">
    <div class="col-md-2">
        <div>
            <div class="pull-left">
                <a asp-action="Create" class="btn btn-primary">
                    <span title="Register New" class="glyphicon glyphicon-plus-sign"></span> Nova Commodity
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div>
            <div class="pull-left">
                <a asp-action="CommoditiesComPerformance" class="btn btn-primary">
                    <span title="Register New" class="glyphicon"></span> Commodities com Performance
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoMaoObraID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisciplinaID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMaoDeObra.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
